<app-angular></app-angular>
<div class="main">
  <button type="button" class="btn nextBtn" alignment="right" (click)="next()">Next</button>
  <button type="button" class="btn-default prevBtn" alignment="left" (click)="prev()">Previous</button>
</div>
<div class="main">
  <br><br>
  <h1>Angular Environment Setup </h1>
  <br><br>

<h2>Requirement:</h2>
Below are the basic requirement need to install to run any Angular application.<br><br>
<ol>
<li><b>Node JS:</b> It provides runtime environment and lite server to run Angular application. 
  [tsc, webpack used to translate tyopescript]<br>
  Download: <a href="https://nodejs.org/en/" target="_blank" title="Lite weight server for angular application" rel="download link"> 
    <u>https://nodejs.org/en/</u></a></li><br>
    <div class="warning">
        Download Node JS Version:Node 6.9.0 or higher. 
    </div>
<li><b>NPM:</b> NPM is a command line utility. It installs libraries, packages and application which are require 
  to run Angular Application. </li><br>

<li><b>Angular CLI:</b> Angular CLI is an command line utility to setup your project easily and fastly.</li><br>
<li><b>IDE:</b> Editor for Angular application are: visual studio, webstorm, Atom, Eclipse,  Notepad++, 
subline text.<br>
Download: <a href="https://www.visualstudio.com/downloads/" target="_blank" title="IDE for Angular Application" rel="download link">
  <u>https://www.visualstudio.com/downloads/</u>
</a><br></li>
</ol>
<div class="info">
    Visual Studio is a best IDE which comes free of cost from microsoft for Angular Project.
</div>
<h2>Environment Setup</h2>
<h3>Step 1:</h3> Download Node js from Official Website.<br><br>
<figure>
<img src="../assets/Angular/nodejsinstall.gif" class="img-rounded" alt="Download Nodejs" width="604" height="400">
</figure>
<br>
<h3>Step 2:</h3> Install Node js in your System.<br><br>
<figure>
<img src="../assets/Angular/nodejsinstallation.gif" class="img-rounded" alt="Install nodejs" width="604" height="400">
</figure>

<div class="warning">
Make sure to download the nodejs version and it's type according to your Operating System.
</div>
<h3>Step 3:</h3> Check Node js is install with proper version or not.<br><br>
<figure>
<img src="../assets/Angular/version check.gif" class="img-rounded" alt="Nodejs Version Check" width="604" height="400">
</figure>
<h3>Step 4: </h3> <b>About NPM Installation:</b> There is not any separate process to install NPM on your system.
NPM is get installed by default with nodejs.<br> <br>
Check NPM Version<br><br>
<figure>
<img src="../assets/Angular/npm.gif" class="img-rounded" alt="npm version check" width="604" height="400">
</figure>
<h3>Step 5:</h3> Download Visual studio IDE and install in your system.<br><br>
<figure>
<img src="assets/Angular/vs download.gif" class="img-rounded" alt="VS download and install" width="604" height="400"><br><br>
</figure>
<div class="info">
Google Recommended Angular-CLI for easy and fast setup of your apllication. 
</div>

<br><br>
</div>
<footer class="main">
  <button type="button" class="btn bottomNextBtn" (click)="next()">Next</button>
  <button type="button" class="btn-default bottomPrevBtn" (click)="prev()">Previous</button> 
</footer>