<app-angular></app-angular>
<div class="main">
  <button type="button" class="btn nextBtn" alignment="right" (click)="next()">Next</button>
  <button type="button" class="btn-default prevBtn" alignment="left" (click)="prev()">Previous</button>
</div>
<div class="main">
  <br><br>
  <h1>Angular Overview</h1><br>
  <figure>
  <img src="/assets/Angular/aoverview.png" class="img-rounded" alt="Angular features" width="764" height="200">
</figure>
  <br>
<p>Angular 2 comes with almost everything you need to build a complicated frontend web or mobile apps,
from powerful templates to fast rendering, data management, HTTP services, form handling, and so much more.</p>
<br>
<h2>Features of Angular are:</h2>
<ul type="circle">
<li><h3>SPA (single page application)</h3><br>
<img src="/assets/Angular/gmail.gif" class="img-rounded" alt="Single Page Application" width="764" height="400"><br><br>
Web application or website that fits on a single page and helps to reduce refreshing of page. using SPA, we dynamically rewriting the current page rather than loading entire new pages from a server.<br>
e.g. GMail, Twitter, Facebook etc.</li><br>

<li><h3>Powerful Data Binding</h3><br>
<img src="../assets/Angular/data binding.gif" class="img-rounded" alt="Powerful data binding" width="764" height="400"><br><br>
Automatic synchronization between Model and the View.</li> <br>

<li><h3>Cross platform</h3> <br>
<img src="../assets/Angular/cross platform.gif" class="img-rounded" alt="Cross platform" width="764" height="400"><br><br>
The application which is implemented on multiple computing platforms. It helps tp create desktop-installed apps across Mac, Windows, and Linux. You can build native mobile apps.
</li><br>

<li><h3>High Performance/Speed</h3> <br>
<img src="../assets/Angular/high performance.gif" class="img-rounded" alt="High performance/speed" width="764" height="400"><br><br>
The programs will consume less space, taking less rendering time and run quicker. </li><br>

<li><h3>Mobile Oriented</h3><br>
<img src="../assets/Angular/mobile oriented.gif" class="img-rounded" alt="Mobile Oriented" width="764" height="400"><br><br>
Web apps built using the mobile toolkit will load on any device, with or without an Internet connection and can take advantage of the searchability, shareability, and no-install-required features of the Web.
</li><br>

<li><h3>Gives Our application Clean Structure</h3> <br>
<img src="../assets/Angular/structure.gif" class="img-rounded" alt="Application clean structure" width="764" height="400"><br><br>
Having separate directory and modules for source code, assets of page(images, 3rd party file,etc.), testing etc.
</li><br>

<li><h3>Enhance Productivity</h3> <br>
<img src="../assets/Angular/Enhance productivity.gif" class="img-rounded" alt="Enhance Productivity" width="764" height="400"><br><br>
By supporting different tools like Angular CLI, Templates, IDEs and having consistence in pattern to building the block. </li><br>

<li><h3>Testing</h3><br>
<img src="../assets/Angular/testing.gif" class="img-rounded" alt="Testing" width="764" height="400"><br><br>
Having Karma for unit testing, protractor for scenario testing.</li><br>

<li><h3>Universal</h3> <br>
<img src="../assets/Angular/universal.gif" class="img-rounded" alt="Universal" width="764" height="400"><br><br>
Provides view for PHP, JAVA, node.js, .NET, Python(using Django REST Framework) etc.</li><br>

<li><h3>Animation</h3><br>
<img src="../assets/Angular/animation.gif" class="img-rounded" alt="Animation" width="364" height="400"><br><br>
</li><br>

<li><h3>Modern </h3> It uses Latest features of Javascript such as classes, module, decorator to build Angular Application.</li> <br>

<li><h3>Simplified API</h3> It has pure built in directives, simple binding etc. </li><br>
</ul>
<h3><b>Angular=</b> HTML + CSS + JavaScript +Typescript</h3>

</div>
<footer class="main">
  <button type="button" class="btn bottomNextBtn" (click)="next()">Next</button>
  <button type="button" class="btn-default bottomPrevBtn" (click)="prev()">Previous</button> 
</footer>