<div class="sidenav jside">
  <a href="javascript:void(0)" class="anchor active"  routerLinkActive="active">What is java</a>
  <a href="javascript:void(0)" class="anchor" routerLinkActive="active">History of java</a>
  <a href="#" target="_blank">Features of java</a>
  <a href="#">C++ vs Java</a>
  <a href="#">Hello Java Program</a>
  <a href="#">Program Internal</a>
  <a href="#">How to se path?</a>
  <a href="#">JDK, JRE and JVM</a>
  <a href="#">Internal Details of JVM</a>
  <a href="#">Variable and Data Types</a>
  <a href="#">Unicode System</a>
  <a href="#">Operators</a>
  <a href="#">Java if-else</a>
  <a href="#">Java Switch</a>
  <a href="#">Java For Loop</a>
  <a href="#">Java While Loop</a>
  <a href="#">Java Do While Loop</a>
  <a href="#">Java Break</a>
  <a href="#">Java Continue</a>
  <a href="#">Java Comments</a>
  <a href="#">Java Program</a>
</div>
<div class="sidenavR"></div>
<div class="main">
  <br>
  <div>
    <h2>History of Java </h2><br><br><br>
    History of Java Brief history of Java Java Version History Java history is interesting to know. The history of java starts
    from Green Team. Java team members (also known as Green Team), initiated a revolutionary task to develop a language for
    digital devices such as set-top boxes, televisions etc. For the green team members, it was an advance concept at that
    time. But, it was suited for internet programming. Later, Java technology as incorporated by Netscape. James Gosling
    - founder of java James Gosling Currently, Java is used in internet programming, mobile devices, games, e-business solutions
    etc. There are given the major points that describes the history of java. 1) James Gosling, Mike Sheridan, and Patrick
    Naughton initiated the Java language project in June 1991. The small team of sun engineers called Green Team.

  </div>
  <div>
    <h2>
      Java Tutorial
    </h2>
    <br> Java Tutorial or Core Java Tutorial or Java Programming Tutorial is a widely used robust technology. Let's start learning
    Java from basic questions like what is Java tutorial, Core Java, where it is used, what type of applications are created
    in Java, why use java and Java platforms etc. Our Java tutorial helps you to learn Java with easy and simple examples.

    <h2>
      What is Java
    </h2>
    Java is a programming language and a platform. Java is a high level, robust, secured and object-oriented programming language.
    Platform: Any hardware or software environment in which a program runs, is known as a platform. Since Java has its own
    runtime environment (JRE) and API, it is called platform.
  </div>

  
   
   <!--
  <button type="button" class="btn nextBtn" alignment="right" (click)="next()">Next</button>
  <button type="button" class="btn-default prevBtn" alignment="left" (click)="prev()">Previous</button>  
  </div>
-->