
<app-angular></app-angular>

<div class="main">
    <button type="button" class="btn nextBtn" alignment="right" (click)="next()">Next</button>
</div>

<div class="main">
<br><br>
<h1>What is Angular?</h1>
<p>Angular is an open source JavaScript framework to build client-side web applications with the help of HTML, CSS and JavaScript . 
It is mainly use to create <strong>Single Page Application(SPA)</strong>. It was built by the developers at Google.</p>
<br><br>
<h2>Prerequisite:</h2>
<ol>
<li><b>HTML:</b> describes the structure of Web pages.</li> 
<li><b>CSS:</b> provides visual styles for website.</li> 
<li><b>Java Script:</b> provides interactive functionality for your website.</li> 
<li><b>OOPs Concepts:</b> Helps to write angular applications(class, object, interface etc).</li> 
</ol>
<br>
The best example of Angular is www.angulartpoint. website. This site is made itself in Angular.
</div>
<footer class="main">
    <button class="btn bottomNextBtn" (click)="next()">Next</button>
</footer>
