<div class="main">
  <br><br>
    <h1>Author Views</h1>   <br><br>  
    <p>The main moto of developing this site to get the details of Angular foundation which need to know
      to every UI developer. Angular is so popular but having less resources and not proper tutorials on this.
      So considering all this i have developed this website.
    </p>  
    <p>The main goal of this site is getting developers using Angular features as well as become familier quickly through simple, straight-to-the-point tutorials. 
      </p>
    Designed and Developed by Sachin Dudhankar<br><br><br>
      For any query and supports contact me on angulartpoint@gmail.com
  </div>